<section class="section">
  <div class="container">
    <h1 class="title is-1">Integrations</h1>
    <div class="box">
      <ul class="list">
        <li class="list-item" *ngFor="let integration of integrations">
          {{ integration.name }} - 
          <span class="tag" [class.is-success]="integration.connected" [class.is-warning]="!integration.connected">
            {{ integration.connected ? 'Connected' : 'Not Connected' }}
          </span>
          <button class="button is-primary is-small" (click)="connectIntegration(integration.name)" [disabled]="integration.connected">
            {{ integration.connected ? 'Connected' : 'Connect' }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>