<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" routerLink="/">Nexora</a>
    <button class="navbar-burger" [class.is-active]="isMenuOpen" (click)="toggleMenu()" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="navbar-menu" [class.is-active]="isMenuOpen">
    <div class="navbar-end">
      <a class="navbar-item" *ngFor="let link of navLinks" [routerLink]="link.path">{{ link.label }}</a>
    </div>
  </div>
</nav>