<header>
  <!-- Sidebar -->
  <div class="sidebar" (mouseenter)="openSidebar()" (mouseleave)="closeSidebar()">
    <div class="sidebar-toggle" (click)="toggleSidebar()">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <div class="sidebar-menu" [ngClass]="{'open': isSidebarOpen}">
      <div class="logo-container">
        <img [src]="logoSrc" alt="Nexora Logo" height="20" (load)="onLogoLoad()" (error)="onLogoError($event)" />
      </div>
      <ul>
        <li *ngFor="let link of navLinks" [hidden]="isCurrentRoute(link.path)">
          <a [routerLink]="link.path" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: link.path === '' }">
            {{ link.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Sidebar -->

  <!-- Top Navbar -->
  <nav class="top-navbar">
    <div class="navbar-content">
      <form class="search-form">
        <input type="search" placeholder="Search" autocomplete="off" />
        <span class="search-icon"><i class="fas fa-search"></i></span>
      </form>
    </div>
  </nav>
  <!-- Top Navbar -->
</header>