<section class="section">
  <div class="container">
    <h1 class="title is-1">{{ headline }}</h1>
    <p class="content is-size-5">{{ body }}</p>
    <a routerLink="/signup" class="button is-primary is-medium">Start Your Free Trial</a>
  </div>
</section>

<section class="section has-background-light">
  <div class="container">
    <figure class="image is-4by3">
      <img src="/assets/images/team-collaboration.png" alt="Nexora Team Working Collaboratively" class="team-image">
    </figure>
  </div>
</section>