<section class="section">
  <div class="container">
    <h1 class="title is-1">Forgot your password? No problem!</h1>
    <p class="subtitle is-3">Enter your registered email address below and we'll send you instructions to reset it.</p>
    <form class="box">
      <div class="field">
        <label class="label" for="email">Email Address:</label>
        <div class="control">
          <input class="input" id="email" type="email" [(ngModel)]="email" name="email" placeholder="yourname@example.com" required>
        </div>
      </div>
      <div class="field">
        <button class="button is-primary" (click)="resetPassword()">Reset Password</button>
      </div>
      <p class="has-text-success" *ngIf="message">{{ message }}</p>
      <p class="has-text-danger" *ngIf="error">{{ error }}</p>
    </form>
    <p class="content has-text-grey">
      We take your security seriously. This process is encrypted for your protection.<br>
      <a routerLink="/privacy" class="button is-link is-small">Privacy Policy</a> | <a routerLink="/faq" class="button is-link is-small">Help/FAQ</a>
    </p>
  </div>
</section>