<section class="section">
  <div class="container">
    <h1 class="title is-1">Review Your Booking Details</h1>
    <p class="subtitle is-3">Please review the details below to ensure everything is correct. Once confirmed, you’ll be one step closer to your appointment!</p>
    <div class="box">
      <h2 class="title is-3">Booking Details</h2>
      <div class="content">
        <p><strong>Service/Appointment Name:</strong> {{ bookingData.service?.name }}</p>
        <p><strong>Date:</strong> {{ bookingData.timeSlot?.date | date:'medium' }}</p>
        <p><strong>Time:</strong> {{ bookingData.timeSlot?.time }}</p>
        <p><strong>Location:</strong> {{ bookingData.staff?.location || 'Salon A, 123 Main St' }}</p>
        <p><strong>Duration:</strong> {{ bookingData.service?.duration }} mins</p>
        <p><strong>Staff Member:</strong> {{ bookingData.staff?.name }}</p>
      </div>
    </div>
    <div class="box">
      <h2 class="title is-3">Customer Details</h2>
      <div class="content">
        <p><strong>Name:</strong> {{ bookingData.customerInfo?.firstName }} {{ bookingData.customerInfo?.lastName }}</p>
        <p><strong>Email:</strong> {{ bookingData.customerInfo?.email }}</p>
        <p><strong>Phone Number:</strong> {{ bookingData.customerInfo?.phoneNumber }}</p>
      </div>
    </div>
    <p class="title is-4"><strong>Price:</strong> ${{ bookingData.service?.price }}</p>
    <p class="content has-text-grey">By clicking 'Confirm Booking', you agree to our <a routerLink="/terms">Terms and Conditions</a> and <a routerLink="/privacy">Privacy Policy</a>.</p>
    <div class="buttons">
      <button class="button is-primary" (click)="confirmBooking()">Confirm Booking</button>
      <button class="button is-link" (click)="editBooking()">Edit Booking</button>
    </div>
    <p class="content has-text-grey">We will use your personal information to process your booking, provide customer support, and send you related notifications. See our <a routerLink="/privacy">Privacy Policy</a>.</p>
  </div>
</section>