<section class="section">
  <div class="container">
    <h1 class="title is-1">Welcome Back to Nexora!</h1>
    <p class="subtitle is-3">Streamline your bookings and manage your appointments with ease.</p>
    <form class="box">
      <div class="field">
        <label class="label" for="email">Email:</label>
        <div class="control">
          <input class="input" id="email" type="email" [(ngModel)]="loginData.email" name="email" placeholder="Your registered email address" required>
        </div>
      </div>
      <div class="field">
        <label class="label" for="password">Password:</label>
        <div class="control">
          <input class="input" id="password" type="password" [(ngModel)]="loginData.password" name="password" placeholder="Your secure password" required>
        </div>
      </div>
      <div class="field">
        <button class="button is-primary" (click)="login()">Log In</button>
      </div>
      <p class="has-text-danger" *ngIf="loginError">{{ loginError }}</p>
    </form>
    <p class="content">
      <a routerLink="/password-reset" class="button is-link is-small">Forgot your password?</a><br>
      Don't have an account? <a routerLink="/signup" class="button is-link is-small">Sign Up</a>
    </p>
    <p class="content has-text-grey"><a routerLink="/privacy" class="button is-link is-small">Privacy Policy</a></p>
  </div>
</section>