<section class="section">
  <div class="container">
    <h1 class="title is-1">Staff Management</h1>
    <div class="box">
      <ul class="list">
        <li class="list-item" *ngFor="let staffMember of staff">
          {{ staffMember.name }} - {{ staffMember.role }}
        </li>
      </ul>
    </div>
    <div class="box">
      <h2 class="title is-3">Add Staff</h2>
      <div class="field">
        <label class="label" for="name">Staff Name:</label>
        <div class="control">
          <input class="input" type="text" #name placeholder="Staff Name">
        </div>
      </div>
      <div class="field">
        <label class="label" for="role">Role:</label>
        <div class="control">
          <input class="input" type="text" #role placeholder="Role">
        </div>
      </div>
      <div class="field">
        <button class="button is-primary" (click)="addStaff({ name: name.value, role: role.value })">Add</button>
      </div>
    </div>
  </div>
</section>