<section class="section">
  <div class="container">
    <h1 class="title is-1">Services Management</h1>
    <div class="box">
      <ul class="list">
        <li class="list-item" *ngFor="let service of services">
          {{ service.name }} - {{ service.duration }} mins - ${{ service.price }}
        </li>
      </ul>
    </div>
    <div class="box">
      <h2 class="title is-3">Add Service</h2>
      <div class="field">
        <label class="label" for="name">Service Name:</label>
        <div class="control">
          <input class="input" type="text" #name placeholder="Service Name">
        </div>
      </div>
      <div class="field">
        <label class="label" for="duration">Duration (mins):</label>
        <div class="control">
          <input class="input" type="number" #duration placeholder="Duration (mins)" min="15">
        </div>
      </div>
      <div class="field">
        <label class="label" for="price">Price ($):</label>
        <div class="control">
          <input class="input" type="number" #price placeholder="Price ($)" min="0">
        </div>
      </div>
      <div class="field">
        <button class="button is-primary" (click)="addService({ name: name.value, duration: +duration.value, price: +price.value })">Add</button>
      </div>
    </div>
  </div>
</section>