<section class="section">
  <div class="container">
    <h1 class="title is-1">Your Privacy Matters at Nexora</h1>
    <p class="content is-size-5">{{ intro }}</p>

    <div class="box">
      <div *ngFor="let section of sections">
        <h2 class="title is-3">{{ section.title }}</h2>
        <p class="content">{{ section.content }}
          <a *ngIf="section.title === '7. Cookies and Tracking Technologies'" routerLink="/cookie" class="is-link">Cookie Policy</a>
        </p>
      </div>
    </div>

    <p class="has-text-grey">Last Updated: {{ lastUpdated }}</p>
  </div>
</section>