<section class="section">
  <div class="container">
    <h1 class="title is-1">Customer Management</h1>
    <div class="box">
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td><button class="button is-danger is-small" (click)="deleteCustomer(customer.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>